@media screen and (max-width: 1200px) {
  .inner {
    width: 90%;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .wrapper header .logo img {
    width: 220px;
  }
  .wrapper nav .inner {
    padding: 0;
  }
  .wrapper main .bottom {
    max-width: 85%;
    padding: 20px;
  }
  .wrapper main .bottom .main-box .thebox {
    width: 100%;
    height: 636px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper main .bottom .main-box .thebox .longbox .time, .wrapper main .bottom .main-box .thebox .longbox .tel, .wrapper main .bottom .main-box .thebox .longbox .last {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .wrapper footer .inner {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .back {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: -1;
  }
  .back.active {
    opacity: 1;
    z-index: 2;
  }
  .wrapper header {
    height: 100px;
    overflow: hidden;
  }
  .wrapper header .ham {
    display: block;
    z-index: 1000;
    position: fixed;
    top: 40px;
    left: 40px;
    width: 40px;
    height: 20px;
    cursor: pointer;
  }
  .wrapper header .ham span {
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
  }
  .wrapper header .ham span:nth-child(1) {
    top: 0;
  }
  .wrapper header .ham span:nth-child(2) {
    top: 50%;
  }
  .wrapper header .ham span:nth-child(3) {
    top: 100%;
  }
  .wrapper header .ham.active span:nth-child(1) {
    top: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .wrapper header .ham.active span:nth-child(2) {
    opacity: 0;
  }
  .wrapper header .ham.active span:nth-child(3) {
    top: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .wrapper nav {
    max-width: 75%;
    min-height: 100vh;
    border: 0;
    position: fixed;
    top: 0;
    left: -630px;
    background-color: #fff;
    z-index: 997;
    overflow-y: scroll;
    -webkit-transition: .6s;
    transition: .6s;
  }
  .wrapper nav .inner {
    width: 100%;
    padding: 0;
  }
  .wrapper nav .inner .menu-top-box {
    display: block;
    background-color: #fff;
    padding: 20px;
  }
  .wrapper nav .inner .menu-top-box .logo {
    padding: 20px 0px 10px 0px;
    margin: 0 auto;
    text-align: center;
  }
  .wrapper nav .inner .menu-top-box .logo img {
    width: 220px;
  }
  .wrapper nav .inner .menu-top-box .txt-box {
    width: auto;
    text-align: center;
  }
  .wrapper nav .inner .menu-top-box .txt-box h3 {
    font-weight: 100;
    letter-spacing: -1px;
    font-size: 20px;
  }
  .wrapper nav .inner .menu-top-box .txt-box span {
    font-weight: 700;
  }
  .wrapper nav .inner .menu-top-box .txt-box .search {
    margin: 0;
    padding-bottom: 10px;
  }
  .wrapper nav .inner .menu-top-box .txt-box .search input {
    border: 1px solid #16b6dd;
  }
  .wrapper nav .inner .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #50c8e6;
  }
  .wrapper nav .inner .menu > li > a {
    color: #fff;
    font-size: 18px;
    position: static;
    text-align: left;
    padding-left: 40px;
    border-bottom: 1px solid #16b6dd;
  }
  .wrapper nav .inner .menu > li > a::after {
    content: '';
    position: static;
    bottom: 0px;
  }
  .wrapper nav .inner .menu > li ul {
    text-align: left;
    max-height: 100vh;
  }
  .wrapper nav .inner .menu > li ul li {
    font-size: 18px;
    padding: 7px;
    padding-left: 50px;
    border-bottom: 1px solid #eee;
  }
  .wrapper nav .inner .menu > li ul li a {
    color: #4e4e4e;
  }
  .wrapper nav .inner .menu:nth-child(1) {
    border-top: 1px solid #16b6dd;
  }
  .wrapper nav.active {
    left: 0;
  }
  .wrapper main .inner .search {
    display: none;
  }
  .wrapper main .inner .top {
    margin: 60px 0px;
  }
  .wrapper main .inner .top h1 {
    font-size: 50px;
  }
  .wrapper main .inner .top h3 {
    font-size: 22px;
  }
  .wrapper main .inner .top p {
    width: 80%;
    line-height: 1.5em;
    margin: 0 auto;
    padding: 20px;
    font-weight: 100;
  }
  .wrapper main .bottom {
    max-width: 90%;
    padding: 20px;
  }
  .wrapper main .bottom .main-box .thebox {
    width: 100%;
    height: 636px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper footer .inner {
    padding: 10px;
  }
  .wrapper footer .inner .footer-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
}
