@charset "UTF-8";
section {
  margin-top: 0;
}

section .inner .main-right .main-bottom .bottom-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .inner .main-right .main-bottom .bottom-box .bottom-left {
  min-width: 100%;
  margin-bottom: 20px;
}

section .inner .main-right .main-bottom .bottom-box .bottom-right {
  margin-left: 0;
  width: 100%;
  height: auto;
}

section .inner .main-right .main-bottom .bottom-box .bottom-right .surgery .ex-box {
  margin-bottom: 40px;
}

section .inner .main-right .main-bottom .bottom-box .bottom-right .surgery .ex-box h3 {
  color: #16b6dd;
  font-size: 26px;
  font-weight: 500;
}

section .inner .main-right .main-bottom .bottom-box .bottom-right .surgery .ex-box h4 {
  font-weight: 400;
  font-size: 20px;
  color: #8b8b8b;
}

section .inner .main-right .main-bottom .bottom-box .bottom-right .surgery .ex-img {
  width: 100%;
  height: 200px;
  background-color: gray;
  margin: 30px 0;
}

section .inner .main-right .main-bottom .bottom-box .bottom-right .surgery .ex-img::after {
  content: '예시 이미지입니다';
  line-height: 200px;
  margin-left: 30px;
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  section {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  section {
    margin-top: 0;
  }
}
