section {
  margin-top: 0;
}

section .inner .main-right .main-bottom .bottom-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .inner .main-right .main-bottom .bottom-box .bottom-left {
  min-width: 100%;
  margin-bottom: 20px;
}

section .inner .main-right .main-bottom .bottom-box .bottom-right {
  margin-left: 0;
  width: 100%;
  height: auto;
}

section .inner .main-right .main-bottom .bottom-box .bottom-right .hotel-guide .hotel-box {
  margin-top: 40px;
}

section .inner .main-right .main-bottom .bottom-box .bottom-right .hotel-guide .hotel-box:nth-child(1) {
  margin-top: 0;
}

section .inner .main-right .main-bottom .bottom-box .bottom-right .hotel-guide .hotel-box h3 {
  font-weight: 400;
  color: #16b6dd;
}

section .inner .main-right .main-bottom .bottom-box .bottom-right .hotel-guide .hotel-box ul li {
  list-style-type: "\30fc";
  list-style-position: inside;
  line-height: 30px;
}

section .inner .main-right .main-bottom .bottom-box .bottom-right .hotel-guide .hotel-box ul li span {
  text-indent: 1em;
  display: block;
  color: red;
}

section .inner .main-right .main-bottom .bottom-box .bottom-right .h-btn {
  width: 100%;
}

section .inner .main-right .main-bottom .bottom-box .bottom-right .h-btn button {
  margin-top: 50px;
  width: 40%;
  height: 40px;
  border-radius: 7px;
  border: none;
  background-color: #16b6dd;
  font-size: 17px;
  color: #fff;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  section {
    margin-top: 20px;
  }
  section .h-btn button {
    min-width: 100%;
    min-height: 50px;
  }
}

@media screen and (max-width: 768px) {
  section {
    margin-top: 0;
  }
}
