
$main-color:#16b6dd;

section{
  margin-top: 0;
  .inner{
    .main-right{
      .main-bottom{
        .bottom-box{
          flex-direction: column;
          .bottom-left{
            min-width: 100%;
            margin-bottom: 20px;
          }
          .bottom-right{
            margin-left: 0;
            width: 100%;
            height: auto;
            .beauty-guide{
              width: 100%;
              button{
                width: 30%;
                height: 40px;
                border-radius: 7px;
                font-weight: 600;
                color: $main-color;
                border: 1px solid $main-color;
                font-size: 15px;
                &:first-child{
                  margin-right: 10px;
                }
                &:last-child{
                  background-color: #fef01b;
                  color:#3a1d1d;
                  border:1px solid #3a1d1d;
                }
              }
            }
            .guide2{
              .guide-box{
                margin: 30px 0;
                h3{
                  font-weight: 400;
                  color:$main-color;
                }
                table{
                  border-collapse: collapse;
                  width: 100%;
                  text-align: center;
                  margin-top: 20px;
                  border-top:1px solid $main-color;
                  border-bottom: 1px solid rgb(192, 192, 192);
                  th{
                    height: 40px;
                    background-color: #16b5dd8a;
                    font-weight: 400;
                    border: 1px solid #16b6dd;
                    border-top:0;
                    border-bottom:0;
                    &:nth-child(1){
                      width: 20%;
                      border-left:0;
                    }
                    &:last-child{
                      width: 20%;
                      border-right: 0;
                    }
                  }
                  td{
                    height: 30px;
                    border: 1px solid rgb(192, 192, 192);
                    border-bottom: 0;
                    &:nth-child(1){
                      border-left:0;
                    }
                    &:last-child{
                      border-right:0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width:1200px){
  section{
    margin-top: 20px;
    .bottom-right{
      .beauty-guide{
        button{
          min-width: 100%;
          min-height: 50px;
          &:last-child{
            margin-top: 10px;
          }
        }
      }
    }
  }
}


@media screen and (max-width:768px){
  section{
    margin-top: 0;
  }
}